<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EBAY_APP_ID</key>
	<string>CryptoCo-ComicVau-SBX-1ebbdcd65-55668220</string>
	<key>EBAY_DEV_ID</key>
	<string>EBAY_SANDBOX_CLIENT_ID → YOUR_EBAY_SANDBOX_CLIENT_ID_HERE</string>
	<key>EBAY_CERT_ID</key>
	<string>EBAY_SANDBOX_CLIENT_SECRET → YOUR_EBAY_SANDBOX_CLIENT_SECRET_HERE</string>
	<key>EBAY_REDIRECT_URI</key>
	<string>https://comicvault.app/ebay/callback</string>
</dict>
</plist>
